.splide, .splide__slide img {
  width: 100%;
  height: auto; /* lub auto, ale do testu lepiej wymusić wysokość */
  object-fit: contain;
}

/* Efekt rozjaśniania aktywnego slajdu */
.splide__slide {
  
  filter: sepia(0.8);
  transition: filter 1s ease;
}

.splide__slide.is-active,
.splide__slide.is-visible {
  
  filter: sepia(0.0);
}

.splide__track {
  background-color: #f8f9da;
}
@media (max-width: 768px) {
  .splide {
    height: auto; /* lub dowolna niższa wartość */
  }

  .splide__slide img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}
