<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="main-logo" src="/assets/logo/WMS_logo_small.JPG" alt="Logo" height="50">
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapseNavbar">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link nav-link-custom " href="#" (click)="scrollTo('event')" data-bs-toggle="collapse">EVENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#" (click)="scrollTo('crew')" data-bs-toggle="collapse">ZAŁOGA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#" (click)="scrollTo('sponsorzy')" data-bs-toggle="collapse">DLA SPONSORÓW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" href="#" (click)="scrollTo('kontakt')" data-bs-toggle="collapse">KONTAKT</a>
        </li>
      </ul>

      <!-- Ikony desktop (z prawej) -->
      <div class="d-none d-md-flex ms-auto gap-3 align-items-center">
        <a class="nav-link text-white" href="https://www.facebook.com/924dakar/" target="_blank"><i class="bi bi-facebook fs-5"></i></a>
        <a class="nav-link text-white" href="https://instagram.com/924dakar" target="_blank"><i class="bi bi-instagram fs-5"></i></a>
        <a class="nav-link text-white" href="https://www.youtube.com/WalendaMotorsport" target="_blank"><i class="bi bi-youtube fs-5"></i></a>
        <a class="nav-link text-white" href="http://www.walenda.pl" target="_blank"><i class="bi bi-browser-edge fs-5"></i></a>
      </div>

      <!-- Ikony mobile (w jednym rzędzie pod menu) -->
      <div class="d-flex d-md-none w-100 justify-content-between mt-3 px-4">
        <a class="nav-link text-white" href="https://www.facebook.com/924dakar/" target="_blank"><i class="bi bi-facebook fs-4"></i></a>
        <a class="nav-link text-white" href="https://instagram.com/924dakar" target="_blank"><i class="bi bi-instagram fs-4"></i></a>
        <a class="nav-link text-white" href="https://www.youtube.com/WalendaMotorsport" target="_blank"><i class="bi bi-youtube fs-4"></i></a>
        <a class="nav-link text-white" href="http://www.walenda.pl" target="_blank"><i class="bi bi-browser-edge fs-4"></i></a>
      </div>
    </div>
  </div>
</nav>
