<div class="footer-bg py-3">
  <div class="container">
    <div class="row align-items-center">
      <!-- Linki po lewej -->
      <div class="col d-flex gap-3">
        <a class="nav-link p-0" href="https://www.facebook.com/924dakar/" target="_blank">
          <i class="bi bi-facebook fs-5"></i>
        </a>
        <a class="nav-link p-0" href="https://instagram.com/924dakar" target="_blank">
          <i class="bi bi-instagram fs-5"></i>
        </a>
        <a class="nav-link p-0" href="https://www.youtube.com/WalendaMotorsport" target="_blank">
          <i class="bi bi-youtube fs-5"></i>
        </a>
        <a class="nav-link p-0" href="http://www.walenda.pl" target="_blank">
          <i class="bi bi-browser-edge fs-5"></i>
        </a>
      </div>

      <!-- Logo po prawej -->
      <div class="col-auto">
        <img src="assets/logo/WMS_logo_small.JPG" alt="Logo WMS" style="height: 50px;" class="m-3 m-md-4">
      </div>
    </div>
  </div>
</div>
